body {
    margin: 0px;
    padding: 0px;
    background-color: #608962;
}
h1 {
    color:#608962;
    text-align: center;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}
header {
    background-color: #002E3E;
    padding: 20px;
}
#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 20px;
}
.zdj_mini {
    width: 400px;
    height: 266.5px;
    margin-top: 30px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    
}
.zdj_mini:hover {
    transform: scale(1.02);
}
.none {
    display: none;
}
.flex {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
#duze_zdj {
    width: 40vw;
    height: auto;
}
#duza_galeria {
    width: 100vw;
    height: 100vh;
}
p {
    color: #608962;
    font-size: 40px;
    text-align: center;
}
@media (max-width: 600px) {
    #duze_zdj {
        width: 70vw;
        height: auto;
    }
}