html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
    background-color: var(--background);
    color: var(--font-color);
    font-family: var(--font);
}
:root {
    --font-color: #209b20;
    --background: #050A06;
    --font: 'JetBrains Mono', monospace;
    --border-color: #2e2c2c;
    --title-color: #164420;
}
#content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#case {
    border: 3px solid var(--border-color);
    padding: 20px;
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--title-color) !important;
    font-weight: bold;
    flex-shrink: 0;
}
#terminal {
    font-size: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth; 
    scrollbar-width: none;
    flex: 1;
    display: flex;
    flex-direction: column;
}
input {
    width: 100%;
    margin: 0px;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: var(--background);
    color: var(--font-color);
    font-family: var(--font);
    flex-shrink: 0;
}