body{
    margin: 0px;
    background-color: #292727;
    display: flex;
}
header {
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    padding: 30px;
}
canvas {
    background-color: #25641c;
    display: block; 
    margin: 0 auto;
}
#right-bar {
    width: 30%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#center-bar {
    width: 70%;
    height: 100vh;
    box-sizing: border-box;
}
.controls {
    width: 90%;
    margin: 10px auto;
}
#dificult {
    width: 90%;
    margin: 10px auto;
}
button {
    width: 100%;
    font-size: 2vw;
    border-style: none;
    border: 2px solid black;
    margin: 12px;
    box-sizing: border-box;
    background-color: #242323;
    color: aliceblue;
}
#score {
    color: aliceblue;
    font-size: 40px;
    padding: 40px;
    text-align: center;
}
.active {
    background-color: #25641c;
    transform: scale(1.06);
}
.opacity {
    opacity: 0.1;
}